* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
	font-size:62.5%;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
}
h1{
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
}
h2{
	font-size: 2.0rem;
	font-weight: 700;
	margin-bottom: 1rem;
	text-align: center;
}
p{
	font-size: 1.7rem;
	font-weight: 400;
	margin-bottom: 1rem;
	text-align: center;
}
li{
	list-style: none;
	font-size: 1.5rem;
}

.header {
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-img{
	width: 20%;
	display: block;
	max-width: 20rem;
	}
 
.profile-img img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.profile-name{
	display: contents;
}
.profile-contact{
	display: grid;
}
.profile-name h1{
font-size: 3.2rem;
font-weight: 700;
text-align: center;
}
.profile-name h2{
	font-size: 1.5rem;
	text-align: center;
}

.icon-github{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(./github-square.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-linkedin{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(./linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-envelope{
	display: inline-block;
    width: 24px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./envelope.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-area {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
}
.main-area section{
	width: 100%;
}

.personal-information{
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
.personal-projects{
	border-bottom: solid 1px black;
}
.work-experience{
	border-bottom: solid 1px black;
}
.work-experience-container{
	display: flex;
    justify-content: space-around;
	flex-direction: column;
}
.work-experience-container h2{
	margin-bottom: 0;
}
.skills{
	border-bottom: solid 1px black;
}
.skills ul{
	display: flex;
	align-content: center;
	justify-content: space-around;	
}
.training{
	border-bottom: solid 1px black;
}

.main-projects-container{
	display: flex;
	justify-content: space-around;
}
.projects-container{
	width: 40%;
}
.languages-container{
	display: flex;
	justify-content: space-around;
}
.languages-container h2{
	margin-bottom: 0;
}
.languages-container p{
	margin-bottom: 3rem;
}
.languages button{
	border-radius: 5px;
    padding: 5px 10px;
	margin-bottom:30px;
	margin-top:20px;
	cursor: pointer;
}
.dowload-btn-container {
	display: flex;
	justify-content: center;
}
@media (min-width: 700px) {
	.header {
		width: 70%;
	}
	.main-area {
		width: 70%;
	}
	.profile-name h1{
		font-size: 3.4rem;
	}
	.profile-name h2{
		font-size: 2.0rem;
	}
	h1{
		font-size: 1.8rem;
	}
	h2{
		font-size: 1.5rem;
	}
	p{
		font-size: 1.3rem;
	}
	li{
		font-size: 1.3rem;
	}
	.icon-github{
		width: 30px;
		height: 30px;
	}
	.icon-linkedin{
		width: 30px;
		height: 30px;
	}
	.icon-envelope{
		width: 30px;
		height: 24px;
	}
}
@media (min-width: 950px) {
	.header {
		width: 50%;
		justify-content: space-evenly;
	}
	.main-area {
		width: 50%;
	}
	.profile-name h1{
		font-size: 3.4rem;
		margin-bottom: 0;
	}
	.profile-name h2{
		font-size: 2.0rem;
	}
	h1{
		font-size: 2.0rem;
	}
	h2{
		font-size: 1.8rem;
	}
	p{
		font-size: 1.5rem;
	}
	li{
		font-size: 1.5rem;
	}
	.icon-github{
		width: 36px;
		height: 36px;
	}
	.icon-linkedin{
		width: 36px;
		height: 36px;
	}
	.icon-envelope{
		width: 36px;
		height: 30px;
	}
}
@media (min-width: 1500px) {
	.header {
		width: 35%;
		justify-content: space-between;
	}
	.main-area {
		width: 35%;
	}
	.profile-name h1{
		font-size: 4.3rem;
		margin-bottom:0;
	}
	.profile-name h2{
		font-size: 2.5rem;
	}
	h1{
		font-size: 2.3rem;
	}
	h2{
		font-size: 2.0rem;
	}
	p{
		font-size: 1.7rem;
	}
	li{
		font-size: 1.7rem;
	}
	.icon-github{
		width: 40px;
		height: 40px;
	}
	.icon-linkedin{
		width: 40px;
		height: 40px;
	}
	.icon-envelope{
		width: 40px;
		height: 33px;
	}
}	
@media (min-width: 1650px){
	.profile-name h1{
		font-size: 5.0rem;
	}
}