* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
	font-size:62.5%;
}
body {
	font-size: 1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
}
.header {
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}
.profileImg{
	width: 20%;
	display: block;
	max-width: 20rem;
}
 
.profileImg img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.profileName{
	display: contents;
}
.profile-contact{
	display: grid;
}
.profileName h1{
font-size: 2.8rem;
text-align: center;
}
.profileName h2{
	font-size: 1.5rem;
	text-align: center;
}

.icon-github{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(./github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-linkedin{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(./linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-envelope{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(./envelope.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}









.mainArea {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
}