* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
	font-size:62.5%;
}
body {
	font-size: 1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
}
.header {
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileImg{
	width: 15%;
	float: left;
	margin-right: 1rem;
}
 
.profileImg img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.profileName h1{
font-size: 2.5rem;
}
.profileName h2{
	font-size: 1.5rem;
}
.mainArea {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
}